.leadership-topic {
    display: block;
    text-align: left;
}
.leadership-header {
    font-weight: 200;
    font-size: 250%;
    margin-top: 0.5em;
    margin-left: 0;
    clear: left;
}
.content {
    font-size: medium;
    text-align: justify;
    margin-top: 0.25em;
}